config setup
    charondebug="ike 1, knl 1, cfg 1"

conn %default
    leftauth=psk
    rightauth=psk
    ike=aes256-sha256-modp2048s256,aes128-sha1-modp1024!
    ikelifetime=28800s
    aggressive=no
    esp=aes128-sha256-modp2048s256,aes128-sha1-modp1024!
    lifetime=3600s
    type=tunnel
    dpddelay=10s
    dpdtimeout=30s
    keyexchange=ikev1
    rekey=yes
    reauth=no
    dpdaction=restart
    closeaction=restart
    leftsubnet=0.0.0.0/0
    rightsubnet=0.0.0.0/0
    rightupdown=/etc/strongswan.d/ipsec-vti.sh
    installpolicy=yes
    compress=no
    mobike=no

{% for vpn_gw, tunnels in vpn_config.items() %}
{% for tunnel, tunnel_props in tunnels.items() %}
conn {{ vpn_gw }}-{{ tunnel }}
    left={{ tunnel_props['left_outside_ip'] }}
    right={{ ansible_eth0['ipv4']['address'] }}
    auto=start
    mark={{ tunnel_props['mark'] }}
{% endfor %}
{% endfor %}